/* flex */
/* font */
/* text cutting */
.section-box {
  padding-bottom: 35px;
  border-bottom: 5px solid #F5F5F5;
}
.section-box .section-title {
  justify-content: space-between;
}
.section-box .section-title .right-group .radio-box {
  min-height: auto;
  padding: 0px;
}
.section-box .section-content {
  margin-top: 20px;
  min-height: 450px;
}
.section-box .section-content .ck-editor .ck-editor__main {
  height: 400px;
  overflow: auto;
  resize: vertical;
}

.btn-row-group {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}