/* flex */
/* font */
/* text cutting */
.section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px 20px;
  padding: 40px 0px 35px;
  border-bottom: 5px solid #F5F5F5;
}
.section-wrapper .section-aside {
  flex-shrink: 0;
  align-self: stretch;
  width: 320px;
}
.section-wrapper .section-main {
  flex: 1;
  align-self: stretch;
}
.section-wrapper .section-main .dropdown-box.size-auto {
  width: 120px;
}
.section-wrapper .section-main .dropdown-box .dropdown-list {
  z-index: 1009;
}
.section-wrapper .section-main div.error,
.section-wrapper .section-main .qs-datepicker-container {
  z-index: 1009;
}
.section-wrapper .section-main .editor-area {
  margin-top: 20px;
}
.section-wrapper .section-main .editor-area .ck-editor .ck-editor__main {
  overflow: auto;
  resize: vertical;
}
.section-wrapper .section-main .btn {
  width: 68px;
}