.DS_Store

source/application/cache/*
!source/application/cache/index.html

source/application/logs/*
!source/application/logs/index.html

!source/application/*/.htaccess

source/composer.lock

source/vendor/
source/pb/
source/pb2/
source/pb3/
source/pb4/
source/uploads/

# IDE Files
#-------------------------
source/.idea/*

