@charset "utf-8";

@import "./variables.scss";

#container .content-box {
  padding:20px 0px;
  background: $gray01;

  > .inner {
    max-width:768px;
    margin:auto;
    padding:20px;
    background: #fff;
    border-top:1px solid $gray03;
    border-bottom:1px solid $gray03;

    .title-box {
      margin-bottom:20px;

      .step {
        @include flex(flex-start, center);
        margin-bottom:10px;

        li {
          position:relative;
          padding-right:20px;
          @include font($gray06, 12px, 18px);
          font-weight: 500;

          &.on {
            color:$red01;
            font-weight: bold;
          }

          &:after {
            position:absolute;
            top:50%;
            right:7px;
            z-index:1;
            width:6px;
            height:7px;
            margin-top:-3.5px;
            background:url(../imgs/icon_arrow01.svg) no-repeat center center;
            background-size:auto 7px;
            content:"";
          }

          &:last-child {
            padding-right:0px;

            &:after {
              display:none;
            }
          }
        }
      }

      h4 {
        position:relative;
        padding-left:9px;
        @include font(#000, 16px, 24px);
        font-weight: bold;

        &:before {
          position:absolute;
          top:50%;
          left:0px;
          z-index:1;
          width:4px;
          height:12px;
          margin-top:-6px;
          background: $red-bg;
          border-radius:2px;
          content:"";
        }
      }
    }

    .desc-box {
      margin-bottom:40px;

      p {
        @include font(#000, 14px, 20px);
      }
    }

    .term-box {
      .term-row {
        margin-top:20px;
        padding:20px 20px 0px;
        background: #fff;
        border:1px solid $gray03;
        border-radius:10px;

        &:first-child {
          margin-top:0px;

          .head {
            padding-bottom:10px;
          }
        }

        .head {
          @include flex(flex-start, center);
          padding-bottom:60px;

          .check-item {
            label {
              span {
                font:inherit;
                color:$red01;
                font-weight: normal;
              }
            }
          }

          .modal-btn {
            position:absolute;
            bottom:10px;
            left:0px;
            z-index:1;
            padding:6px 9px;
            background: #fff;
            border:1px solid $gray04;
            border-radius:5px;
            @include font($gray05, 12px, 18px);
          }

          .toggle-btn {
            position:absolute;
            top:0px;
            right:0px;
            z-index:1;
            width:32px;
            height:32px;
            background:#fff url(../imgs/icon_term_up.svg) no-repeat center center;
            background-size:auto 8px;
            border:1px solid $gray04;
            border-radius:5px;
            font-size:0px;
          }
        }

        > p {
          padding-bottom:20px;
          @include font(#000, 14px, 20px);
        }

        .term-area {
          padding:10px 0px 20px;
          border-top:1px solid $gray03;

          .inner {
            height:63px;
            overflow-y:overlay;

            * {
              @include font(#000, 14px, 20px);
            }
          }
        }

        &.on {
          padding-bottom:10px;

          .head {
            .toggle-btn {
              background:#fff url(../imgs/icon_term_down.svg) no-repeat center center;  
              background-size:auto 8px;
            }
          }
        }

        &.checked {
          background:$gray01;
        }
      }
    }

    .form-box {
      .term-row {
        margin-top:20px;
        padding:20px 20px 0px;
        background: #fff;
        border:1px solid $gray03;
        border-radius:10px;

        .head {
          @include flex(flex-start, center);
          padding-bottom:60px;

          .check-item {
            label {
              span {
                font:inherit;
                color:$red01;
                font-weight: normal;
              }
            }
          }

          .modal-btn {
            position:absolute;
            bottom:10px;
            left:0px;
            z-index:1;
            padding:6px 9px;
            background: #fff;
            border:1px solid $gray04;
            border-radius:5px;
            @include font($gray05, 12px, 18px);
          }

          .toggle-btn {
            position:absolute;
            top:0px;
            right:0px;
            z-index:1;
            width:32px;
            height:32px;
            background:#fff url(../imgs/icon_term_up.svg) no-repeat center center;
            background-size:auto 8px;
            border:1px solid $gray04;
            border-radius:5px;
            font-size:0px;
          }
        }

        > p {
          padding-bottom:20px;
          @include font(#000, 14px, 20px);
        }

        .term-area {
          padding:10px 0px 20px;
          border-top:1px solid $gray03;

          .inner {
            height:63px;
            overflow-y:overlay;

            * {
              @include font(#000, 14px, 20px);
            }
          }
        }

        &.on {
          padding-bottom:10px;

          .head {
            .toggle-btn {
              background:#fff url(../imgs/icon_term_down.svg) no-repeat center center;  
              background-size:auto 8px;
            }
          }
        }

        &.checked {
          background:$gray01;
        }
      }

      .input-row-group {
        margin-top:40px;

        .input-row {
          > label, > .label {
            @include flex(flex-start, center);
            gap:0px 5px;

            .valid-icon {
              font-weight: normal;

              &.required {
                @include font($red01, 12px, 20px);
              }

              &.optional {
                @include font($gray06, 12px, 20px);
              }
            }
          }

          &.valid-row {
            > label, > .label {
              .valid-icon.required {
                width:30px;
                height:20px;
                background:url(../imgs/icon_valid.svg) no-repeat center center;
                background-size:16px 16px;
                font-size:0px;
              }
            } 
          }
        }
      }
    }

    .btn-row-group {
      .return-agmvp {
        height:48px;
        @include font($red01, 16px, 24px);
        text-decoration:underline;
      }
    }
  }
}

@container (min-width: 768px) {

#container .content-box {
  padding:48px 20px 80px;

  > .inner {
    padding:40px;
    border:1px solid $gray03;
    border-radius:10px;

    .title-box {
      @include flex(space-between, center);
      flex-direction:row-reverse;
      margin-bottom:24px;

      .step {
        margin-bottom:0px;

        li {
          padding-right:24px;
          font-size:14px;
          line-height: 20px;

          &:after {
            right:8px;
            width:8px;
            height:12px;
            margin-top:-6px;
            background:url(../imgs/icon_arrow02.svg) no-repeat center center;
            background-size:auto 12px;
          }
        }
      }

      h4 {
        padding-left:14px;
        font-size:24px;
        line-height: 35px;

        &:before {
          height:16px;
          margin-top:-8px;
        }
      }
    }

    .desc-box {
      margin-bottom:60px;

      p {
        font-size:16px;
        line-height: 26px;
      }
    }

    .term-box {
      .term-row {
        &:first-child {
          .head {
            padding-bottom:10px;
          }
        }

        .head {
          @include flex(flex-start, center);
          padding-bottom:20px;

          .check-item {
            padding:6px 0px;
          }

          .modal-btn {
            bottom:unset;
            left:unset;
            top:0px;
            right:46px;
            padding:7px 15px;
            font-size:14px;
            line-height: 20px;
            font-weight: bold;
          }

          .toggle-btn {
            width:36px;
            height:36px;
            background-size:auto 10px;
          }
        }

        > p {
          font-size:15px;
          line-height: 22px;
        }

        .term-area {
          padding:20px 0px;
          border-top:1px solid $gray03;

          .inner {
            height:72px;
            overflow-y:overlay;

            * {
              @include font(#000, 14px, 24px);
            }
          }
        }

        &.on {
          padding-bottom:0px;

          .head {
            .toggle-btn {
              background-size:auto 10px;
            }
          }
        }
      }
    }

    .form-box {
      margin-top:60px;

      .term-row {
        .head {
          @include flex(flex-start, center);
          padding-bottom:20px;

          .check-item {
            padding:6px 0px;
          }

          .modal-btn {
            bottom:unset;
            left:unset;
            top:0px;
            right:46px;
            padding:7px 15px;
            font-size:14px;
            line-height: 20px;
            font-weight: bold;
          }

          .toggle-btn {
            width:36px;
            height:36px;
            background-size:auto 10px;
          }
        }

        > p {
          font-size:15px;
          line-height: 22px;
        }

        .term-area {
          padding:20px 0px;
          border-top:1px solid $gray03;

          .inner {
            height:72px;
            overflow-y:overlay;

            * {
              @include font(#000, 14px, 24px);
            }
          }
        }

        &.on {
          padding-bottom:0px;

          .head {
            .toggle-btn {
              background-size:auto 10px;
            }
          }
        }
      }

      .input-row-group {
        .input-row {
          padding-left:160px;

          > label, > .label {
            position:absolute;
            top:0px;
            left:0px;
            z-index:1;
            margin-bottom:0px;

            .valid-icon {
              font-weight: normal;

              &.required {
                @include font($red01, 14px, 40px);
              }

              &.optional {
                @include font($gray06, 14px, 40px);
              }
            }
          }

          &.valid-row {
            > label, > .label {
              .valid-icon.required {
                width:36px;
                height:40px;
                background-size:20px 20px;
              }
            } 
          }
        }
      }
    }

    .btn-row-group {
      max-width:320px;
      margin-left:auto;
      margin-right:auto;

      .return-agmvp {
        height:56px;
        font-size:20px;
        line-height: 30px;
      }
    }
  }
}

}