@charset "utf-8";

@import "./variables.scss";

.modal {
  position:fixed;
  top:-9999px;
  left:-9999px;
  @include flex(center, center);
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  opacity:0;
  transition:opacity 0.3s ease-in-out;

  &.open {
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    opacity:1;
  }

  &.open-out {
    opacity:0;
  }

  .modal-scroll {
    @include flex(center, center);
    flex-wrap:wrap;
    width:100%;
    height:100%;
    padding:40px 10px 0px 10px;
    overflow-y:overlay;
    text-align: center;
  }

  .modal-container {
    margin-bottom:40px;
    padding:0px 20px;
    background: #fff;
    border-radius:10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    text-align: left;

    .title-box {
      @include flex(flex-start, flex-start);
      padding:20px 0px;
      border-bottom:1px solid $gray03;

      h5 {
        @include font(#000, 16px, 24px);
        font-weight: bold;
      }
  
      .close-btn {
        position:absolute;
        top:20px;
        right:0px;
        z-index:1;
        width:24px;
        height:24px;
        padding:0px;
        background:transparent url(../imgs/icon_close.svg) no-repeat center center;
        background-size:24px 24px;
        border:none;
        font-size:0px;
      }
    }
  }  
}

#login-popup.modal {
  .modal-container {
    @include flex();
    flex-direction:column;
    padding:0px;
    max-height:580px;

    .notice-box {
      flex:1;
      width:100%;
      padding:20px;
      overflow:overlay;
    }

    .btn-box {
      @include flex();
      width:100%;
      border-top:1px solid $gray03;

      button {
        flex:1;
        height:40px;
        @include font(#000, 12px);

        &:first-child {
          border-right:1px solid $gray03;
        }
      }
    }
  }
}

#main-popup.modal {
  .modal-container {
    @include flex();
    flex-direction:column;
    padding:0px;
    max-height:580px;

    .notice-box {
      flex:1;
      width:100%;
      padding:20px;
      overflow:overlay;
    }

    .btn-box {
      @include flex();
      width:100%;
      border-top:1px solid $gray03;

      button {
        flex:1;
        height:40px;
        @include font(#000, 12px);

        &:first-child {
          border-right:1px solid $gray03;
        }
      }
    }
  }
}

#term-service.modal,
#term-privacy.modal,
#term-dlvy.modal {
  .title-box {
    flex-direction:column;
    padding:20px 0px;
    border-bottom:1px solid $gray03;

    h5 {
      @include font(#000, 16px, 24px);
      font-weight: bold;
    }
    
    p {
      margin-top:5px;
      @include font($place-color, 14px, 20px);
    }
  }

  .content-box {
    max-height:472px;
    margin:20px 0px;
    overflow:overlay;
  }
}

#cart.modal {
  .form-box {
    padding:20px 0px;

    .submit-btn {
      margin-top:20px;
      padding-top:20px;
      border-top:1px solid $gray03;

      input[type=submit] {
        width:100%;
        height:36px;
        background: $red-bg;
        border:none;
        border-radius:5px;
        @include font(#fff, 14px);
        font-weight: bold;
      }
    }
  }
}

#onekey.modal {
  .form-box {
    padding:20px 0px;

    .input-row-group {
      .input-row { 
        &.not-label {
          margin-top:10px;
        }

        > label,
        > .label {
          font-size:12px;
          line-height: 18px;
          font-weight: bold;
        }

        #onekey-search {
          height:36px;
          background: $gray09;
          border-radius:5px;
          @include font(#fff, 12px);
          font-weight: bold;
        }
      }
    }

    .submit-btn {
      margin-top:20px;
      padding-top:20px;
      border-top:1px solid $gray03;

      input[type=submit] {
        width:100%;
        height:36px;
        background: $red-bg;
        border:none;
        border-radius:5px;
        @include font(#fff, 14px);
        font-weight: bold;
      }
    }
  }
}

@container (min-width: 768px) {

.modal {
  .modal-container {
    .title-box {
      h5 {
        font-size:20px;
        line-height: 32px;
      }
  
      .close-btn {
        width:32px;
        height:32px;
        background-size:32px 32px;
      }
    }
  }  
}

#login-popup.modal {
  .modal-container {
    max-height:640px;

    .btn-box {
      button {
        height:48px;
        font-size:16px;
      }
    }
  }
}

#term-service.modal,
#term-privacy.modal,
#term-dlvy.modal {
  .title-box {
    h5 {
      font-size:20px;
      line-height: 30px;
    }

    p {
      font-size:16px;
      line-height: 24px;
    }
  }

  .content-box {
    max-height:640px;
    font-size:16px;
  }
}

#cart.modal {
  .form-box {
    .submit-btn {
      input[type=submit] {
        height:40px;
        font-size:16px;
      }
    }
  }
}

#onekey.modal {
  .form-box {
    .input-row-group {
      .input-row { 
        > label,
        > .label {
          font-size:15px;
          line-height: 24px;
        }

        #onekey-search {
          height:40px;
          font-size:14px;
        }
      }
    }

    .submit-btn {
      input[type=submit] {
        height:40px;
        font-size:16px;
      }
    }
  }
}

}